body{
    background-image:url(../img/fundo.png);
    font-family: 'Pixelify Sans', sans-serif;
}

#header{
    background-color: rgb(253, 253, 252);
 display: flex;
  justify-content: space-between; 
  align-items: center;     
  list-style: none;
  padding: 0;
  font-family: 'Pixelify Sans', sans-serif ;

}

a{
    text-decoration: none;
    color: #b2192c;
}

ul{
    list-style: none;
    display: flex;
  gap: 20px; 
   margin-right: 2%;
}
